/*头部*/
header{
    height: 0.88rem;
    background: #3867FA;
    font-size: 17px;
    color: #fff;
    text-align: center;
    position: relative;
}
header span{
    line-height: 0.88rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    display:-webkit-flex;
    width: 3.15rem;
    align-items: center;
    justify-content: space-around;
    text-shadow: 0px  2px 5px rgba(0,0,0,.5);
}
header span i{
    display: inline-block;
    background: #fff;
    border-radius: 50%;
    margin: 0 0.12rem;
    box-shadow: 0 2px 1px 0px rgba(0,0,0,.5);
}
header span i:nth-of-type(1),header span i:nth-of-type(6){
    width: 0.03rem;
    height: 0.03rem;
}
header span i:nth-of-type(2),header span i:nth-of-type(5){
    width: 0.05rem;
    height: 0.05rem;
}
header span i:nth-of-type(3),header span i:nth-of-type(4){
    width: 0.07rem;
    height: 0.07rem;
}
header .more{
    position: absolute;
    left: 0.24rem;
    bottom:0.15rem;
    height: 0.52rem;
    width: 0.42rem;
    background: url(../../images/zh/more.png) no-repeat center center/contain ;
}
header a:not(more){
    position: absolute;
    bottom:0.03rem;
    height: 0.6rem;
    width: 0.6rem;
    background:no-repeat center center/contain ;
}
header .collection{
    background-image: url(../../images/zh/shoucang.png);
    right: 0.24rem;

}
header .share{
    right: 0.9rem;
    background-image: url(../../images/zh/share.png);
}
header .home{
    right: 1.56rem;
    background-image: url(../../images/zh/jhome.png);
}

/*酒店展示*/
section.hotel-show{
    box-sizing: border-box;
    width: 100%;
    padding: 0.32rem;
    height: 5.85rem;
    box-shadow: 0 0px 40px 0px rgba(0,0,0,.2);
}

.hotel-show .hotel-top{
    height: 3.35rem;
    width: 100%;
    position: relative;
}
.hotel-show .hotel-top>a{
    display: block;
    width: 100%;
    height: 100%;
}
.hotel-show .hotel-top .img-box{
    border-radius: 0.1rem;
    overflow: hidden;
    height: 100%;
}
.hotel-show .hotel-top .img-box img{
    width: 100%;
    height: 100%;
}
.hotel-show .hotel-top .img-box:nth-of-type(1){
    width: 4.2rem;
    float: left;
}
.hotel-show .hotel-top .img-box:nth-of-type(2){
    float: right;
    width: 2.55rem;
}
.hotel-show .hotel-top span{
    position: absolute;
    top:0;
    right: 0;
    width: 0.6rem;
    height: 0.20rem;
    border-radius: 0.1rem;
    background: rgba(0,0,0,.6);
    font-size: 7px;
    line-height: 0.2rem;
    color: #fff;
    text-align: center;
}
.hotel-show .hotel-top span b{
    font-size: 10px;

}
.hotel-show .hotel-bottom .info{
    text-align: center;
    margin-top: 0.18rem;
    height: 0.35rem;
    display: flex;
    display:-webkit-flex;
    justify-content: space-between;
}
.hotel-show .hotel-bottom .info strong{
     font-size: 14px;
     color: #333333;
}
.hotel-show .hotel-bottom .info .star{
    height: 0.28rem;
    font-size: 0;
}
.hotel-show .hotel-bottom .info .star img{
    height: 100%;
}
.hotel-show .hotel-bottom .info>img{
    flex-grow: 0;
    height: 0.03rem;
    align-self: flex-end;
}

.hotel-show .hotel-bottom .dirname{
    font-size: 11px;
    color: #999999;
    margin-top: 0.12rem;
}
.hotel-show .hotel-bottom .distance{
    font-size: 10px;
    color: #666666;
    margin-top: 0.12rem;
    box-sizing: border-box;
    padding-left: 0.3rem;
    position: relative;
}
.hotel-show .hotel-bottom .distance:before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top:0;
    width: 0.22rem;
    height: 0.27rem;
    background: url(../../images/zh/location.png) no-repeat center center/contain;
}
.hotel-show .hotel-bottom .price{
    margin-top: 0.22rem;
    color: #FF3D4C;
    font-size: 10px;
}

/*酒店详情*/
.hotel-detail{
    box-sizing: border-box;
    padding: 0.22rem 0.32rem;
    width: 100%;

}
.hotel-detail .time{
    margin-bottom: 0.22rem;
    font-size: 12px;
}
.hotel-detail .time span{
    margin-right: 1.1rem;
}
.hotel-detail .showtime{
    height: 1rem;
}
.hotel-detail .showtime>span{
    float: left;
    width: 1.7rem;
    height: 0.65rem;
    padding: 0.1rem;
    color: #333333;
    box-shadow:0 0 8px 0px rgba(0,0,0,.4);
    border-radius: 0.1rem;
    margin-right: 0.4rem;
}
.hotel-detail .showtime>span>b{
    float: left;
    font-size: 14px;
    height: 100%;
    line-height: 0.55rem;
}
.hotel-detail .showtime>span .date{
    float: right;
    font-size: 10px;
    width: 1.2rem;
}
.hotel-detail .showtime>span .date b{
    width: 100%;
    float: left;
}
.hotel-detail .showtime>span .date span{
    width: 100%;
    float: left;
}
.hotel-detail .comment{
    display: flex;
    display:-webkit-flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.2rem;
}
.hotel-detail .comment a{
    width: 1.94rem;
    height: 0.55rem;
    padding: 0.1rem 0;
    text-align: center;
    line-height: 0.55rem;
    font-size: 12px;
    border-radius: 0.1rem;
    color: #333333;
    box-shadow:0 0 8px 0px rgba(0,0,0,.4);
}
.hotel-detail .comment a.active{
    background: #3C6BFF;
    color: #ffffff;
}
.hotel-detail .intro{
    margin-top: 0.3rem;
    font-size: 13px;
}
.hotel-detail .intro a{
    color: #003EFF;
    margin-top: 0.25rem;
}
.hotel-detail .check{
    display: flex;
    display:-webkit-flex;
    justify-content: center;
    align-items: center;
}
.hotel-detail .check a{
    width: 2.62rem;
    background: url("../../images/zh/sel.png") no-repeat center center/cover;
    height: 0.54rem;
    display: block;
    font-size: 12px;
    text-align: center;
    line-height: 0.54rem;
    color:#003EFF ;
}